.register-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding:3rem 1rem;
    border: var(--text-secondary) 3px solid;
    border-radius: 10px;
    
}
.register-form a{
    color: var(--text-primary);
    cursor: pointer;
    text-decoration: underline;
}
.register-form a:hover{
    color: var(--color-primary);
    cursor: pointer;
    text-decoration: underline;
}