.register-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    padding:1rem 2rem;
    border: var(--neutral-3) 3px solid;
    border-radius: 10px;
    
}
.register-form a{
    color: var(--neutral-5);
    cursor: pointer;
    text-decoration: underline;
}
.register-form a:hover{
    color: var(--primary-2);
    cursor: pointer;
    text-decoration: underline;
}

