.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    padding:5px 2rem;
    border: var(--neutral-3) 3px solid;
    border-radius: 10px;
    
}
.login-form a{
    color: var(--neutral-5);
    cursor: pointer;
    text-decoration: underline;
}
.login-form a:hover{
    color: var(--primary-2);
    cursor: pointer;
    text-decoration: underline;
}
.mantine-TextInput-label{
    color: var(--neutral-4);
}
.mantine-PasswordInput-label{
    color: var(--neutral-4);
}
