:root{
  --bg-secondary:#F8F8FD;
  --bg-primary:#ffff;
  --color-primary:#4640DE;
  --color-secondary:#D7DBFF;
  --heading-main:#202430;
  --text-primary:#515B6F;
  --text-secondary:#7C8493;
}
*{
  font-family: "Alfa Slab One", serif;
  font-weight: lighter;
}